@font-face {
    font-family: Zona;
    /* Имя шрифта */
    font-weight: 700;
    src: url(../fonts/ZonaPro-Bold.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Zona;
    /* Имя шрифта */
    font-weight: 400;
    src: url(../fonts/ZonaPro-Regular.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Zona;
    /* Имя шрифта */
    font-weight: 300;
    src: url(../fonts/ZonaPro-Light.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Zona;
    /* Имя шрифта */
    font-weight: 500;
    src: url(../fonts/ZonaPro-SemiBold.ttf);
    /* Путь к файлу со шрифтом */
}

* {
    font-family: Zona;
}

.notification {
    color: #718096;
    font-size: 1rem;
    line-height: 1.5;
}

.auth {
    position: relative;
    background-image: url("/img/bg_lines.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
}

.auth:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background: #f1f1f1;
}

.gradient-indigo,
.login_button {
    background-image: linear-gradient(to right, #4A32E3, #875FDA);
}

.login_button:hover {
    background-image: linear-gradient(to right, #875FDA, #4A32E3);
}

.menu_bar {
    background-image: linear-gradient(to right, #4A32E3, #875FDA);
    height: 80px;
}

.search {
    background-color: #FEFEFE;
}

.task-button {
    background-color: #4A32E3;
}

.task-button-working {
    background-color: #875FDA;
}

.mydatepicker {
    border-style: solid;
}


/** scrollbar customize **/

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 7px;
    height: 7px;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    height: 7px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, .1);
}


/***/

.h-screen-2 {
    max-height: 10я0vh;
}

select.bg-blue-500 {
    background: #4F58DB;
}

select {
    cursor: pointer
}

.vm--modal {
    border-radius: 20px !important;
    min-width: 65vw;
    max-width: 90vw;
    height: unset !important;
    max-height: 90vh;
    left: unset !important;
    top: unset !important;
}

.vm--container {
    display: flex;
    align-items: center;
    justify-content: center;
}